# Бинарные файлы
/build/
/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
scheduler

# Тестовые файлы
*.test
*.out
*.prof

# Файлы базы данных
*.db
*.db-journal
*.db-wal
*.db-shm

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Файлы зависимостей
/vendor/

# Файлы окружения
.env
.env.local
.env.*.local

# Логи
*.log
air_errors.log

# Временные файлы
.DS_Store
Thumbs.db