# Игнорировать бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib 

# Игнорировать файлы базы данных
*.db
   
# Игнорировать файлы среды выполнения
.env
   
# Игнорировать кэш и временные файлы Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
   
# Игнорировать файлы IDE
.idea/
.vscode/
   
# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db